:host {
    padding-top: 3%;
    display: block;
}

header {
    margin: 10px;
}

section {
    width: 95%;
    height: calc(95% - 10px);
    margin: auto;
    overflow: hidden;
    display: grid;

    app-player-score {
        width: 100%;
        overflow: hidden;
    }
}

.default_players {
    grid-template-columns: 1fr 1fr;
}

.three_players {
    grid-template-columns: 1fr 1fr 1fr;
}

.four_players {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.popup-wrap {
    width: 70%;
    height: 130px;
    background-color: whitesmoke;
    margin: auto;

    div {
        margin: 5px auto;
        padding: 3px;

        &:nth-child(1) {
            text-align: center;
            border-bottom: 1px solid lightgray;
        }

        span {
            text-align: center;
            display: block;
            padding: 3px;
        }

        &:nth-last-child(1) {
            display: inline-block;
            width: 25%;
            margin-left: 70%;
            margin-top: -7px;
        }
    }
}

@media only screen and (max-width: 360px) {
    .popup-wrap {
        width: 100%;
        height: 130px;
        background-color: whitesmoke;
        margin: auto;

        div {
            margin: 5px auto;
            padding: 3px;

            &:nth-child(1) {
                text-align: center;
                border-bottom: 1px solid lightgray;
            }

            span {
                text-align: center;
                display: block;
                padding: 3px;
            }

            &:nth-last-child(1) {
                display: inline-block;
                width: 90%;
                margin-left: 50%;
                margin-top: -7px;

                & button:nth-last-child(2) {
                    margin-right: 8px;
                }
            }
        }
    }
}
