<section class="about__page">
  <h1 class="title">Rick and Morty GraphQL App</h1>
  <div class="about__container">
    <p class="about__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae impedit
      repudiandae neque, provident repellendus a in ex nostrum possimus
      doloremque cumque rem sequi pariatur exercitationem soluta enim vitae
      adipisci nemo.
    </p>
    <figure class="about__img">
      <img
        src="/assets/img/web_dev.svg"
        alt="Web Dev"
        class="about__picture"
        rel="preload"
        as="image"
        width="406"
        height="306"
      />
    </figure>
  </div>
  <p class="about__copy">
    Developed By<span class="text-white"> Diamond Code</span>
  </p>
</section>
