<form [formGroup]="configuracion">
    <h1>Bienvenido</h1>
    <h2>Tigre, ¿Quienes seran las victimas?</h2>
    <h3>Nombres de lo jugadores</h3>
    <div formArrayName="players" cdk-overlay-origin #trigger="cdkOverlayOrigin">
        <div *ngFor="let _ of players.controls; index as i">
            <ng-container #playerContainer>
                <div class="group">
                    <input type="text" [formControlName]="i" />
                    <span class="highlight"></span><span class="bar"></span>
                </div>
            </ng-container>
        </div>
    </div>

    <button
        type="button"
        (click)="AddPlayer()"
        [disabled]="players?.controls.length > 3"
    >
        Agregar
    </button>
    <label for="winScore">Wining Score</label>
    <input type="number" name="winScore" formControlName="winScore" />
    <button type="button" (click)="startGame()" [disabled]="!configuracion.valid">Iniciar</button>
    <br />
    <br />
</form>

