<div class="entry-title d-flex justify-content-between p-2">
  <div>
    <span class="text-success fs-3 fw-bold">{{ day }}</span>
    <span class="mx-1 fs-3">{{ month }}</span>
    <span class="mx-2 fs-4 fw-light">{{ yearDay }}</span>
  </div>
  <div>
    <button class="btn btn-danger mx-2" (click)="deleteEntry()">
      Borrar
      <i class="fa fa-trash-alt"></i>
    </button>
    <button class="btn btn-primary" (click)="imagefile.click()">
      Subir foto
      <i class="fa fa-upload"></i>
    </button>
  </div>
  <input
    style="display: none"
    #imagefile
    type="file"
    (change)="onSelectedImage($event)"
    accept="image/png, image/jpeg, image/jpg"
  />
</div>
<hr />
<div class="d-flex flex-column px-3 h-75">
  <textarea
    #description
    placeholder="¿Qué sucedió hoy?"
    [value]="entry?.text"
  ></textarea>
</div>
<app-fab [faIcon]="icon" (fabClickHandler)="uploadEntry()"></app-fab>
<img
  *ngIf="entry?.picture && !localImage"
  [src]="entry?.picture"
  alt="entry picture"
  class="img-thumbnail"
/>
<img
  *ngIf="localImage"
  [src]="localImage"
  alt="entry picture"
  class="img-thumbnail"
/>
