<div class="entry-list-container">
  <div class="px-2 pt-3">
    <input
      #searchEntry
      class="form-control mb-4"
      type="search"
      name=""
      placeholder="Buscar entrada"
      (keyup)="search()"
    />
  </div>
  <div class="mt-2 d-flex flex-colunm">
    <button class="btn btn-primary btn-block mx-3" (click)="addEntry()">
      <fa-icon [icon]="plusCircle"></fa-icon>
      Nueva Entrada
    </button>
  </div>

  <div class="entry-scrollarea">
    <app-entry
      *ngFor="let entry of entries$ | async"
      [entry]="entry"
    ></app-entry>
  </div>
</div>
